h1 {
    color: blue;
}

main {
    height: 90vh;
}

.custom-background {
    background-image: url('druggie.jpg'); /* Replace 'your-image.jpg' with the path to your image */
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat; /* Adjust as needed */
    background-attachment: fixed; /* Optional - prevents scrolling */
}
