h1 {
    text-align: center;
    padding: 40px;
}

.instance {
    min-height: 300px;
    border: 2px solid black;
    background-color: lightgray;
    border-radius: 10px;
    padding: 10px;
}

.instance-img {
    width: 100%;
}
