#main_about_content {
    margin: 0 15% 0 15%;
}

h1, h4 {
    text-align: center;
    padding: 10px;
}

.member {
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
}

img {
    width: 100%;
    height: 100%;
    margin: 10px 0 10px 0;
}

.tool {
    border: 1px solid black;
    padding: 5px;
}
