#root {
    position: relative;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

#main_content {
    padding-bottom: 5rem;
    margin: 0;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-h3 {
    text-align: center;
    margin-top: 50px;
}
