footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem; 
    background-color: #333;
}

.footer_text {
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    margin-top: 5px;
}