.home-page-title {
    font-size: 30px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%)
}


.custom-background {
    background-image: url("../images/druggie.jpg"); /* Replace 'your-image.jpg' with the path to your image */
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat; /* Adjust as needed */
    /*background-attachment: fixed; /* Optional - prevents scrolling */
    height: 90vh;
    text-align: center;
}
