.instance_page {
    font-size: 30px;
    margin: 0 15% 0 15%;
    padding-bottom: 5rem;
}

h1 {
    text-align: center;
    padding: 10px;
}

.instance-page-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
