#instance_card_container {
    padding-bottom: 5rem;
}

h1 {
    text-align: center;
    padding: 40px;
}

.instance {
    border: 2px solid black;
    background-color: lightgray;
    border-radius: 10px;
    padding: 10px;
}

.instance-img {
    width: 100%;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.total {
    text-align: center;
    margin: 15px;
}

.card-img-cnt {
    width: 100%;
    height: 200px;
}

.card-name-header {
    height: 100px;
    padding-top: 20px;
    overflow: hidden;
}

.card-info {
    height: 50px;
    overflow: hidden;
}
