<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drug Profiles: About</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/about.css">
    <!-- Import Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="container-fluid my_navbar">
        <div class="row">
            <div class="row">
                <div class="col-auto offset-1">
                    <div class="navbar_link">Image</div>
                </div>
                <div class="col-auto">
                    <a role = 'button' href="{{ url_for('home') }}">
                        <div class="navbar_link">Home</div>
                    </a>
                </div>
                <div class="col-auto">
                    <a role = 'button' href="{{ url_for('about') }}">
                        <div class="navbar_link">About</div>
                    </a>
                </div>
                <div class="col-auto">
                    <a role = 'button' href="{{ url_for('conditions') }}">
                        <div class="navbar_link">Conditions/Addictions</div>
                    </a>
                </div>
                <div class="col-auto">
                    <a role = 'button' href="{{ url_for('drugs') }}">
                        <div class="navbar_link">Drugs/Medications</div>
                    </a>
                </div>
                <div class="col-auto">
                    <a role = 'button' href="{{ url_for('side_effects') }}">
                        <div class="navbar_link">Side-Effects</div>
                    </a>
                </div>
            <form class="col-auto offset-1">
                <div class="input-group">
                    <input type="search" class="form-control" placeholder="Search">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </nav>
    <main>
        <h1>About Drug Profiles</h1>
        <h2>What is Drug Profiles?</h2>
        <p>A website providing information on conditions, treatments, and side-effects specifically geared-towards the Appalachian communities which struggle with drug addiction that has been neglected since the 20th century.</p>
        <h2>Who does Drug Profiles benefit?</h2>
        <p>We aim to serve communities in the Appalchian reagion that are predominantly White with blue-collared jobs, are an aging population, and have struggled economically due to decline of traditional industries like coal and manufacturing.</p>
        <h2>What is Drug Profiles purpose?</h2>
        <p>This information could potentially help those in affected regions understand their conditions and treatment possibilities and side effects better to avoid misuse of drugs/medicine.</p>
        <h2>Interesting Data Conclusions</h2>
        <p>After getting all of our data together, we found that it was pretty cool how these seemingly disparate instances could directly link to each other. For example, we could take something like Heroin and link that to Headaches, which then links to Desoxyn and then ADHD.</p>
        <h1>Group Members:</h1>
        <div class="container"> <div class="row row-cols-2 g-4">
            <div class="col">
                <div class="member">
                    <h4>Matthew Larson</h4>
                    <img src="{{ url_for('static', filename='matt_img.jpg') }}" alt="Image of Mathew">
                    <h6>Role: Backend Developer</h6>
                    <h6>Email: melars@utexas.edu</h6>
                    <h6>GitLab ID: melars74</h6>
                    <p>About... I am a currently a Junior, and I work as a code mentor for Breakout Mentors. I just got two guinea pigs so some of my free time is just spent hanging out with them, but I'm also involved in Longhorn Gaming with Overwatch</p>
                    <div class="container"><div class="row">
                        <div class="col"><p>Commits: {{commits['Matt'] + commits['Matthew Larson']}}</p></div>
                        <div class="col"><p>Issues: {{issues['Matt']}}</p></div>
                        <div class="col"><p>Unit Tests:</p></div>
                    </div></div>
                </div>
            </div>
            <div class="col">
                <div class="member">
                    <h4>Rayan Ali</h4>
                    <img src="{{ url_for('static', filename='rayan_img.png') }}" alt="Image of Rayan">
                    <h6>Role: Backend Developer </h6>
                    <h6>Email: xrayanali202@gmail.com</h6>
                    <h6>GitLab ID: xrayanali202</h6>
                    <p>About... I've been programming since my freshman year of highschool and plan to work as a fulltime SWE when I graduate this Spring. I hope to make an amazing website that prevents drug abuse in small towns. </p>
                    <div class="container"><div class="row">
                        <div class="col"><p>Commits: {{commits['rayan ali'] + commits['Rayan Ali']}}</p></div>
                        <div class="col"><p>Issues: {{issues['Rayan Ali'] + issues['newest']}}</p></div>
                        <div class="col"><p>Unit Tests:</p></div>
                    </div></div>
                </div>
            </div>
            <div class="col">
                <div class="member">
                    <h4>Sam Lu</h4>
                    <img src="{{ url_for('static', filename='sam_img.jpg') }}" alt="Image of Sam">
                    <h6>Role: Frontend Developer</h6>
                    <h6>Email: samlu@utexas.edu</h6>
                    <h6>GitLab ID: samlu1</h6>
                    <p>About... I am an undergraduate student at The University of Texas at Austin studying Computer Science and Mathematics. My interests are in machine learning, data science, full-stack development, and cybersecurity. In my free time, I enjoy table tennis 🏓, tennis 🎾, trying new restaurants 😋, reading 📖, and listening to music 🎵.</p>
                    <div class="container"><div class="row">
                        <div class="col"><p>Commits: {{commits['sam']}}</p></div>
                        <div class="col"><p>Issues: {{issues['sam']}}</p></div>
                        <div class="col"><p>Unit Tests:</p></div>
                    </div></div>
                </div>
            </div>
            <div class="col">
                <div class="member">
                    <h4>Brandon Boettcher</h4>
                    <img src="{{ url_for('static', filename='brandon_img.jpg') }}" alt="Image of Brandon">
                    <h6>Role: Frontend Developer</h6>
                    <h6>Email: boettcherb@utexas.edu</h6>
                    <h6>GitLab ID: boettcherb</h6>
                    <p>About... Im a senior CS major and I just finished an internship in IT security for Reef Technologies. In my free time I play the guitar, chess, and video games such as Dark Souls. I enjoy going to Longhorn football, basketball, and volleyball games.</p>
                    <div class="container"><div class="row">
                        <div class="col"><p>Commits: {{commits['Brandon Boettcher']}}</p></div>
                        <div class="col"><p>Issues: {{issues['Brandon Boettcher']}}</p></div>
                        <div class="col"><p>Unit Tests:</p></div>
                    </div></div>
                </div>
            </div>
        </div> </div>
        <h2>Overall Stats:</h2>
        <div class="container"><div class="row">
            <div class="col-1"><p>Commits: {{commits['total']}}</p></div>
            <div class="col-1"><p>Issues: {{issues['total']}}</p></div>
            <div class="col-1"><p>Unit Tests:</p></div>
        </div></div>
        <h2>Tools Used:</h2>
        <div class="container"><div class="row">
            <div class="col">
                <div class="tool">
                    Flask
                    <!-- <img> Flask Logo -->
                </div>
            </div>
            <div class="col">
                <div class="tool">
                    Postman
                    <!-- <img> Postman Logo -->
                </div>
            </div>
            <div class="col">
                <div class="tool">
                    Bootstrap</div>
                    <!-- <img> Bootstrap Logo -->
            </div>
            <div class="col">
                <div class="tool">
                    AWS
                    <!-- <img> AWS Logo -->
                </div>
            </div>
            <div class="col">
                <div class="tool">
                    NameCheap
                    <!-- <img> NameCheap Logo -->
                </div>
            </div>
            <div class="col">
                <div class="tool">
                    Zoom
                    <!-- <img> Zoom Logo -->
                </div>
            </div>
        </div></div>
        <h2>APIs Scraped:</h2>
        <p><a href="https://www.drugbank.com/campaigns/drug_drug_interaction_checker">DrugBank</a></p>
        <p><a href="https://rapidapi.com/rnelsomain/api/drug-info-and-price-history">Drug Info & Price History</a></p>
        <p><a href="https://open.fda.gov/apis/drug/">Food & Drug Administration</a></p>
        <h2>Our API Documentation:</h2>
        <p><a href="https://documenter.getpostman.com/view/30106705/2s9YJZ3jf6">Drug Profiles API (Postman)</a></p>
        <h2>GitLab Repository:</h2>
        <p><a href="https://gitlab.com/idb-project-group-8/drugapp">drugapp Repo</a></p>
    </main>
    <footer>
        <div class="footer_text">Footer Text</div>
    </footer>
</body>
</html>
