<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drug Profiles: Conditions / Addictions</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/models.css">
    <!-- Import Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="container-fluid my_navbar">
        <div class="row">
            <div class="row">
                <div class="col-auto offset-1">
                    <div class="navbar_link">Image</div>
                </div>
                <div class="col-auto">
                    <a role = 'button' href="{{ url_for('home') }}">
                        <div class="navbar_link">Home</div>
                    </a>
                </div>
                <div class="col-auto">
                    <a role = 'button' href="{{ url_for('about') }}">
                        <div class="navbar_link">About</div>
                    </a>
                </div>
                <div class="col-auto">
                    <a role = 'button' href="{{ url_for('conditions') }}">
                        <div class="navbar_link">Conditions/Addictions</div>
                    </a>
                </div>
                <div class="col-auto">
                    <a role = 'button' href="{{ url_for('drugs') }}">
                        <div class="navbar_link">Drugs/Medications</div>
                    </a>
                </div>
                <div class="col-auto">
                    <a role = 'button' href="{{ url_for('side_effects') }}">
                        <div class="navbar_link">Side-Effects</div>
                    </a>
                </div>
            <form class="col-auto offset-1">
                <div class="input-group">
                    <input type="search" class="form-control" placeholder="Search">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </nav>
    <main>
        <h1>Conditions / Addictions</h1>
        <h1>Instances: 3</h1>
        <div class="container">
            <div class="row row-cols-5 g-4">
                <div class="col"> <div class="instance">
                    <img src="{{ url_for('static', filename='opioidaddiction.jpg') }}" class="instance-img" alt="Opioid Addiction Image">
                    <h2>Opioid Addiction</h2>
                    <p>Severity: Moderate-Severe</p>
                    <p>Location: Brain</p>
                    <p>Drugs: Heroin, Vicodin</p>
                    <p>Side Effects: <a href="{{ url_for('nausea') }}">Nausea</a>, <a href="{{ url_for('headache') }}">Headache</a>, <a href="{{ url_for('constipation') }}">Constipation</a></p>
                    <a class="btn btn-primary instance-btn" href="{{ url_for('opioidaddiction') }}">Learn More</a>
                </div> </div>
                <div class="col"> <div class="instance">
                    <img src="{{ url_for('static', filename='adhd.png') }}" class="instance-img" alt="ADHD Image">
                    <h2>ADHD</h2>
                    <p>Severity: Moderate</p>
                    <p>Location: Brain</p>
                    <p>Drugs: <a href="{{ url_for('desoxyn') }}">Desoxyn</a></p>
                    <p>Side Effects: None</p>
                    <a class="btn btn-primary instance-btn" href="{{ url_for('adhd') }}">Learn More</a>
                </div> </div>
                <div class="col"> <div class="instance">
                    <img src="{{ url_for('static', filename='bodypain.jpg') }}" class="instance-img" alt="Body Pain Image">
                    <h2>Body Pain</h2>
                    <p>Severity: Mild-Moderate</p>
                    <p>Location: varies</p>
                    <p>Drugs: <a href="{{ url_for('vicodin') }}">Vicodin</a></p>
                    <p>Side Effects: None</p>
                    <a class="btn btn-primary instance-btn" href="{{ url_for('bodypain') }}">Learn More</a>
                </div> </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer_text">Footer Text</div>
    </footer>
</body>
</html>
